[submodule "jason"]
	path = sh 
	url = git@github.com:destructuring/jason
[submodule "tvdinner"]
	path = tvd
	url = git@github.com:destructuring/tvdinner
[submodule "rb-helper"]
	path = rb
	url = git@github.com:destructuring/rb-helper
[submodule "bump"]
	path = bump
	url = git@github.com:destructuring/mixin-bump
